body {
  margin: 0;
}

div,
header,
section {
  box-sizing: border-box;
}
#app {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0 270px;
}

button {
  background-color: #00e2c9;
  color: #013a3c;
  border: none;
  padding: 16px 28px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.company-name {
  font-size: 39px;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.nav-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
}

nav,
.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0;
  padding-inline: 0;
}

.nav-items li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 10px;
}

.down-arrow {
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 285px;
  padding: 0 16px;
  background-color: #ebebeb;
  border-radius: 20px;
  margin: 0 14px;
}

.search img {
  width: 15px;
}

.search input {
  outline: none;
  border: none;
  background-color: #ebebeb;
  color: #222;
  width: 100%;
  margin-left: 5px;
}

.button-group {
  display: flex;
  align-items: center;
}
.button-group .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
}
.button-group .button img {
  width: 22px;
}

.button-group .button:not(:last-child) {
  margin-right: 14px;
}

.hero {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-banner {
  width: 100%;
  max-width: 1648px;
  height: 496px;
  background-image: url("./assets/Hero banner.jpg");
  background-color: #222222;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 90px 120px;
}

.hero-header {
  font-weight: bold;
  font-size: 46px;
}

.hero-body {
  font-size: 22px;
  margin: 24px 0;
}

.trims {
  margin-top: 86px;
  width: 100%;
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trims-title {
  font-size: 36px;
  font-weight: bold;
}

.cards-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 648px;
  grid-gap: 24px;
}

.card {
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 26px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-img {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trim-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}

.trim-price {
  font-size: 24px;
  margin: 8px 0;
}

.trim-extras {
  line-height: 28px;
  padding-inline-start: 20px;
}

.burger-menu {
  width: 52px;
  display: none;
}

.features {
  margin-top: 70px;
}

.panel-electric,
.panel-interior {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 90px;
}

.panel-interior {
  background-color: #ededed;
}

.panel-electric {
  background-color: #222222;
  color: #fff;
}

.panel-heading {
  font-weight: bold;
  font-size: 46px;
}

@media only screen and (max-width: 1740px) {
  .lg-hide {
    display: none;
  }
  .cards-container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto;
  }
  .card {
    flex-direction: row;
    align-items: center;
  }
  .card-img {
    width: 40%;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 1400px) {
  #app {
    padding: 0 8vw;
  }
  .burger-menu {
    display: block;
  }
  .md-hide {
    display: none;
  }
  .search {
    background-color: transparent;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: auto;
  }
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-img {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .company-name {
    font-size: 30px;
  }

  .nav-bar {
    box-sizing: content-box;
  }

  .burger-menu {
    width: 32px;
  }
  .hero-banner {
    height: 478px;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
  }
  .hero-header {
    font-size: 30px;
  }
  .hero-body {
    margin: 10px 0;
  }

  .trims {
    margin-top: 26px;
  }
}
